.sidebarBtn {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  border-radius: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--default);
  color: var(--white);
  border: none;
  cursor: pointer;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.2s ease;
}

.sidebarBtn.yellow {
  background-color: var(--yellow);
  transform: translateY(-1px);
}

.sidebarBtn.green {
  background-color: var(--green);
}

.sidebarBtn.blue {
  background-color: var(--blue);
}

.sidebarBtn.red {
  background-color: var(--red);
}

.sidebarBtn.yellow:hover {
  background-color: var(--yellow-accent);
}

.sidebarBtn.green:hover {
  background-color: var(--green-accent);
}

.sidebarBtn.blue:hover {
  background-color: var(--blue-accent);
}

.sidebarBtn.red:hover {
  background-color: var(--red-accent);
}

.sidebarBtn:hover {
  background-color: var(--default-accent);
  transform: translateY(-1px);
}

.sidebarBtn:disabled {
  background-color: #cccccc;
  color: #7a7979;
  cursor: not-allowed;
  opacity: 0.6;
}
