.btn {
  border-radius: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  border: none;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);

  background-color: var(--default);
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background-color: var(--default-accent);
}
