.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttonsTimeContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttonsControls {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: var(--color-black);
}

.btnsContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
}

.btn {
  background-color: var(--color-white);
  border-radius: 50%;
  border: 1.5px solid var(--color-darkblue);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: border-color var(--animation);
}

.btnIcon {
  width: 70%;
  height: 70%;
  fill: transparent;
  stroke: var(--color-black);
  transition: stroke var(--animation);
}

.btn:hover {
  border-color: var(--color-lightgreenhover);
}

.btn:hover .btnIcon {
  stroke: var(--color-lightgreenhover);
}

.btnField {
  display: flex;
  text-align: center;
  border-radius: 30px;
  width: 89px;
  height: 40px;
  background: var(--color-darkblue);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: var(--color-white);
}

.timePicker {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btnSubmit {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 116px;
  height: 46px;
  background-color: var(--color-lightgreen);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: var(--color-darkblue);
  transition: background-color var(--animation);
}

.btnSubmit:hover {
  background-color: var(--color-lightgreenhover);
}

@media screen and (min-width: 768px) {
  .label {
    font-size: 16px;
    line-height: 1.5;
  }

  .btn {
    width: 43px;
    height: 43px;
  }

  .btnField {
    width: 92px;
    height: 43px;
    font-size: 15px;
    line-height: 1.49333;
    border: none;
  }

  .btnSubmit {
    width: 141px;
    height: 60px;
    font-size: 16px;
    line-height: 1.5;
  }
}
