.form {
  width: 100%;
}

.content {
  display: flex;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  row-gap: 40px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.title {
  font-family: inherit;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--primary);
}

/* .form {
  width: 100%;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 7px;
}

.title {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-darkblue);
  margin-bottom: 20px;
} */

.imgWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.uploadBtn {
  width: 133px;
  height: 18px;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-black);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btnIconContainer {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnIcon {
  width: 100%;
  height: 100%;
  stroke: var(--default);
  fill: transparent;
  transition: stroke 0.5s;
}

.uploadBtn:hover .btnIcon {
  stroke: var(--default);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 36px;
  }
}
