.sidebar {
  width: 260px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 24px 0px;
  color: var(--white);
  position: fixed;
  top: 0;
  left: -260px;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.sidebar.default {
  background-color: var(--default);
}
.sidebar.green {
  background-color: var(--green);
}
.sidebar.red {
  background-color: var(--red);
}
.sidebar.yellow {
  background-color: var(--yellow);
}
.sidebar.blue {
  background-color: var(--blue);
}
.sidebar.pink {
  background-color: var(--pink);
}

/* Заголовок сайдбара */
.sidebarTitle {
  font-size: 12px;
  letter-spacing: -0.02em;
  padding-left: 14px;
  color: var(--white);
}

.closeBtn {
  align-self: flex-end;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebarBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 21, 21, 0.5);
  z-index: 900;
  display: none;
}

.sidebarBackdrop.open {
  display: block;
}

@media screen and (max-width: 768px) {
  .sidebarBackdrop {
    overflow-y: auto;
  }
}

@media screen and (max-width: 375px) {
  .sidebar {
    width: 225px;
    padding: 14px 0px;
  }
}
