.sidebar {
  width: 260px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 24px 0px;
  color: var(--white);
}

.sidebar.default {
  background-color: var(--default);
}

.sidebar.green {
  background-color: var(--green);
}

.sidebar.red {
  background-color: var(--red);
}

.sidebar.yellow {
  background-color: var(--yellow);
}

.sidebar.blue {
  background-color: var(--blue);
}

.sidebar.pink {
  background-color: var(--pink);
}

.sidebarTitle {
  font-size: 12px;
  letter-spacing: -0.02em;
  padding-left: 14px;
  color: var(--white);
}

@media screen and (max-width: 768px) {
  .sidebarBackdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(21, 21, 21, 0.5);
    display: none;

    position: fixed;
    left: 0;
    top: 0;

    z-index: 1000;
    overflow-y: scroll;
  }

  .sidebarBackdrop.open {
    display: block;
  }
}

@media screen and (max-width: 375px) {
  .sidebar {
    width: 225px;
    padding: 14px 0px;
  }
}
